[user]
	name = spencercjh
	email = spencercjh@gmail.com
	signingkey =  
[commit]
	gpgsign = true
[core]
  autocrlf = input
  editor = vim
  pager = less --mouse
  excludesfile = ~/.gitignore
[init]
  defaultBranch = main
[tag]
  forceSignAnnotated = true

